<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width,intitial-scale-1.0">
        <title>Registration 
        </title>
        <script>
            function shopkeeper(){
                window.open("/home")
            }
            function consumer(){
                window.open("/consumer/home");
            }
        </script>
        <link rel="stylesheet" 
        type="text/css"
        href="/static/styles_reg.css">
    </head>
    <body>
        
        <div class="wrapper">
            <form action="">
                <h1>Welcome</h1><br>
                <div class="select-option">
                    <button class="selection" onclick="shopkeeper()">Enter as a Shopkeeper &nbsp; &nbsp; &nbsp; 🏪</button>
                </div><br>
                <button class="selection" onclick="consumer()">Enter as a Consumer &nbsp; &nbsp; &nbsp; 🙎🏻 </button><br>
            </form>
        </div>
    </body>
</html>
